Earthquakes.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Earthquakes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Earthquakes.xcodeproj/xcuserdata/shrawanzadoo.xcuserdatad/xcschemes/xcschememanagement.plist
